.scroll-container::-webkit-scrollbar {
display: none;

}


.scroll-container {
    flex: 1;
    

}
.scroll-container button:nth-last-child(1) {
    margin-right: 3px;

}
.calendar-container {
    display: flex;
    gap: 10px;
}

